<div class="container text-center">
<br>
<br>
<h2>A confirmation link has been sent to your email. please visit email to activate your account with the link given</h2>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>