
  <h3 class="hlp">Contact us</h3>
<form>
  <fieldset>
  <legend class="hlp">Please let us know how you feel about our services or any formal or personal enquery or complaint, we are here for you.</legend> 
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
    <br><br>
    <div class="for">
    <input type="email" class="form-control" rows="3" name="email" placeholder="Enter Your Email Address">
    </div>
    <br><br>
    <div class="form-group">
    <input type="text" class="form-control" rows="3" name="phone" placeholder="Enter Your Phone Number">
    <svg-icon><src href="sprite.svg#si-glyph-smartphone" /></svg-icon>
    </div>
  <br>
     <div class="form-group">
    <label for="exampleFormControlTextarea1" class="hlp">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Feel free to leave us a message..."></textarea>
  </div>

  <button type="button" class="btn btn-outline-secondary">Submit</button>
  </fieldset>
</form>

