
<div class="container" id="fgps">
	<% include ./partials/messages %>
	<div id="fgpas" class="container">
		<br>
<form  action="/users/forgottenPas" method="POST" class="form">
	<h3 class="hlp">Input registered email</h3><br>
	<input class="form-control" type="email" name="email" placeholder="Input Your Email..."><br>
	<button class="btn btn-secondary" type="submit">Submit</button>
</form>
<br><br>
<p class="pfg">Or you may return to <a href="/users/login">login</a></p>
</div>

<br>
</div>
<br><br><br><br><br><br>