<div class="container">

<h1 class="hlp"> FAQ</h1>
<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" id="hwto" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I get started?
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
       All you need to do is to create an account and login, then you'll be shown our quality templates you may choose from and then you'll be redirected to the order page where you may complete your order and we would be right there to contact you and solemly respond to your requests. Or you may as well inquire for custom layouts by clicking the inquire button and you'll be redirected to the custom layout page where you may either give a brief description of your prospect website or speak with an online customer care service agent...
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How long would it take to get a conventional website?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        A conventional website would take at least one week to get completed, and at most one month before completion. This is basically dependent on your requests. But if you are looking forward to creating very large websites and webapplications such as that for really large corperations then the time frame would be communicated accordinly.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What kinds of websites can be built for me?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
       As part of what was stated above, we build all kinds of website and web applicaition for greate internet presence, and fascinating digital functionalities ranging from your personal Portfollio, Blogs, E-commerce sites and so on and all these at very uptimized rates...
      </div>
    </div>
  </div>
<div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How do I scale my business?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Leave that to us. once you have created your website and or app, with our strategy on how to draw greater traffic to your website giving you the tremenious amount of visitors coming in to your website to veiw your contents and locate you, then yuou'll be sure to have that online presence and business scalling you've always wanted... and all these for just a little token extra...
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          Who may I speak to if my website needs maintainance?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
       Our team would be there to take care of any needs, whether it be maintainance and so on... Just feel free to <a href="/users/contact">leave us a message</a> and the right solution would be administered at your disposal.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
          How do I place my order?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        It's all at the tip of your finger and at the tap of a butten. You just need to click on the template just like stated "<a href="#hwto">On how to get started</a>" and you'll be redirected to the order area where you'll fill out the form and get started. Or you may as well inquire for a custom layout by clicking the inquire button to get started
      </div>
    </div>
  </div>

</div>
<br><br><br>
<p class="hlp">We hope your questions were answered. If not, please feel free to leave us a <a href="/users/contact"><i>message</i></a> and we would be right there to answere your questions in no time.</p>

<br><br><br><br><br><br>

</div>