<div class="container" id="ordPg">
  <h3 align="center">Your Order</h3>
<form>
  <fieldset>
  <legend align="center"><h5>Please fill the form below to let us know your order, we will contact you as soon as your order is received.
  </h5></legend> 
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
    <br><br>
    <div class="for">
    <input type="email" class="form-control" rows="3" name="email" placeholder="Enter Your Email Address">
    </div>
    <br><br>
    <div class="form-group">
    <input type="text" class="form-control" rows="3" name="phone" placeholder="Enter Your Phone Number">
    </div>
  <br>
     <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter Your Order Discription</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="A little description of the nature of your prospect website..."></textarea>
  </div>

   <fieldset class="form-group">
      <legend class="mt-4">How urgent do you want your website up and running?</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
          Very urgent.
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
          Not very urgent.
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
          Standard time.
        </label>
      </div>
    </fieldset>

  <button type="button" class="btn btn-lg btn-outline-secondary"> &nbsp;&nbsp; Submit &nbsp;&nbsp; </button>
  </fieldset>
</form>
<br>
</div>