<div class="contianer">

<div class="container" id="psrst">
	<% include ./partials/messages %>
	<div id="" class="container">
		<div id="accordion">
			<div class="card">
		    <div class="card-header" id="headingThree">
		      <h5 class="mb-0">
		        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          <span class="badge badge-dark">Click Here</span> <span class="badge badge-dark">></span>
		          to see your reset token. &nbsp; Copy the token below and and paste in the box to reset password.
		        </button>
		      </h5>
		    </div>
		    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
		      <div class="card-body">
		      	<div class="bd-clipboard"><button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button><p >  <%= token %>  </p></div>
		        
		      </div>
		    </div>
		  </div>
		</div>
				<br>

		<form  action="/users/resetPassword" method="POST" class="form">
			<input class="form-control" type="text" name="resetLink" placeholder="Paste token here!"><br><br><br>
			<h3 >Input your new password</h3><br>
			<input class="form-control" type="password" name="newPasswd" placeholder="New Password..."><br>
			<input class="form-control" type="password" name="newPasswd2" placeholder="Confirm Password..."><br>
			<button class="btn btn-secondary" type="submit">Submit</button>
		</form>
	</div>

<br>
</div>
<br><br><br><br><br><br>
</div>